.sidebarContainer {
  display: flex;
  position: static;
  left: 0;
  top: 0;
  background-color: rgb(36, 36, 39);
  height: 100vh;
  flex-direction: column;
  padding: 1.5rem;
  justify-content: space-between;
  max-width: 156px;
}
.sidebarList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: left;
  align-items: start;
  padding: 0;
}
.sidebarListElement {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: white;
}
